# PocketBase Configuration
PB_ADMIN_EMAIL=
PB_ADMIN_PASSWORD=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend SMTP
SMTP_HOST=smtp.resend.com
SMTP_PORT=587
SMTP_USER=resend
SMTP_PASS=
SMTP_SENDER_NAME="CapiMercado Soporte"
SMTP_SENDER_ADDRESS=soporte@capimercado.com

# Frontend
VITE_PB_URL=/
